@using GlobalResources
@{
    ViewBag.Title = @Strings.HealthBeatViewTitle;
}

<noscript>
    <div class="error_noscript">
        <h1>@Strings.NoscriptHeader</h1>
        <p>@Strings.NoscriptP1</p>
        <p>@Strings.NoscriptP2</p>
    </div>
</noscript>
<script type="text/javascript" src="~/Scripts/Views/Advanced/Advanced.js?ver=@Constants.JSVersion"></script>
<div class="advanced_content">
    <header class="header_main">
        <h1 class="header_main_head">@Strings.HealthBeatViewTitle</h1>
        <button class="button_back" type="button"></button>
        <h2 class="header_main_subhead"></h2>
    </header>
    <div class="content_outer">
        <div class="content_inner">
            <div id="content">
            </div>
        </div>
    </div>
</div>
@*The scripts below runs when the view loads but not for partials.*@
<script type="text/javascript">
    (function () {
        "use strict";

        var config = {
            backButtonId: '.button_back',
            contentId: '#content',
            subheadId: '.header_main_subhead',
        };

        IoTApp.Advanced.init(config);
    })();
</script>