@using GlobalResources
<div style="display:none" id="dialog-error" data-resource-ok="@Strings.Ok" data-resource-title="@Strings.Error">
    <div>
        <span></span>
    </div>
</div>
<div style="display:none" id="dialog-confirm" data-resource-ok="@Strings.Ok" data-resource-cancel="@Strings.Cancel" data-resource-title="@Strings.Confirmation">
    <div>
        <span></span>
    </div>
</div>
