@using System.Web.Mvc.Html
@using GlobalResources
@model Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Models.SendCommandModel

@if (Model.CanSendDeviceCommands)
{
    
    if (Model.HasCommands)
    {
        <fieldset class="command_form">
            @Html.LabelFor(m => m.Command, new { @class = "command_form__label" })
            @Html.DropDownListFor(m => Model.Command, Model.CommandSelectList, Strings.SelectACommand, new { @class = "command_form__select"})
            @Html.ValidationMessageFor(model => model.Command)
            @Html.AntiForgeryToken()
            <div id="command_form" class="container_command"></div>
        </fieldset>
    }
    else
    {
        <fieldset>
            <h3>@string.Format(Strings.NoCommandsAvailable, Model.DeviceId)</h3>
        </fieldset>
    }
}
else
{
    <fieldset>
        <h3>@string.Format(Strings.DeviceCommandIsDisabled)</h3>
    </fieldset>
}
