@using GlobalResources
@model List<Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Infrastructure.Models.DeviceType>

<div id="test">
    <ul class="list_select_device">
        @for (int i = 0; i < Model.Count; i++)
        {
            using (Ajax.BeginForm("SelectType", "Device",
                new AjaxOptions()
                {
                    UpdateTargetId = "content",
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "loadingElement",
                    OnFailure = "IoTApp.DeviceSelectType.onFailure"
                }))
            {
                <li class="list_item_select_device">
                    <h2 class="select_device_subhead">@Model[i].Name</h2>
                    <p class="select_device_description">
                        @Model[i].Description
                    </p>
                    <button class="button_selectDevice" type="submit">
                        @Strings.AddNew
                    </button>
                    <input type="hidden" name="Name" value="@Model[i].Name" />
                    <input type="hidden" name="DeviceTypeId" value="@Model[i].DeviceTypeId" />
                    <input type="hidden" name="Desciption" value="@Model[i].Description" />
                    <input type="hidden" name="InstructionsUrl" value="@Model[i].InstructionsUrl" />
                    <input type="hidden" name="IsSimulatedDevice" value="@Model[i].IsSimulatedDevice.ToString()" />

                </li>
            }
        }

    </ul>
</div>
<script type="text/javascript">
    var resources = {
        addDevice: '@Strings.AddDevice',
        stepOneHeader: '@Strings.StepOneHeader',
        selectDeviceTypeError: '@Strings.DeviceAddSelectTypeError'
    }
</script>
<script type="text/javascript" src="~/Scripts/Views/Device/DeviceSelectType.js"></script>