@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.Common.Constants
@model Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Models.SimInformationViewModel

<header class="header_grid">
    <a href="#" id="deviceExplorer_CellInformationBack" class="details_grid__button_back grid_subheadhead_detail">@Strings.SimInformationBackText</a>
</header>
<section class="details_grid_general">
    <h4>@Strings.CellularInformationLabel</h4>
    <p>
        <button id="editCellularInformation" class="button_base edit_button">@Strings.Edit</button>
        <button id="saveCellularInformation" class="button_base edit_button" disabled>@Strings.Save</button>
    </p>
    <br/>
    <br />
    <p>
        <strong>@Strings.CellularInformationSimStateLabel </strong>
    </p>
    <select id="simStateSelect" class="form_input select_box space_below" disabled>
        @foreach (var simState in @Model.AvailableSimStates)
        {
            <option value="@simState.Name">@simState.Name</option>
        }
    </select>

    <p>
        <strong>@Strings.CellularInformationRatePlanLabel </strong>
    </p>
    <select id="subscriptionPackageSelect" class="form_input select_box space_below" disabled>
        @foreach (var subscriptionPackage in @Model.AvailableSubscriptionPackages)
        {
            <option value="@subscriptionPackage.Name">@subscriptionPackage.Name</option>
        }
    </select>

    <div id="updateCellularInformationResults">
        @if (Model.CellularActionUpdateResponse != null)
        {
            if (Model.CellularActionUpdateResponse.Success)
            {
                <p class="action_succeeded">Success</p>
            }
            else
            {
                <p class="action_error">Error</p>
            }
        }
    </div>
    @switch (Model.ApiRegistrationProvider)
    {
        case ApiRegistrationProviderTypes.Jasper:
            {
                @Html.Partial("_CellularInformationJasper", Model)
                break;
            }
        case ApiRegistrationProviderTypes.Ericsson:
            {
                @Html.Partial("_CellularInformationEricsson", Model)
                break;
            }
    }

    @Html.Partial("_CellularActions", Model)
    @if (Model.ApiRegistrationProvider == ApiRegistrationProviderTypes.Ericsson)
    {
        <div class="ericsson_info_text">@Strings.SimInformationInfoTextEricsson</div>
    }
    else if (Model.ApiRegistrationProvider == ApiRegistrationProviderTypes.Jasper)
    {
        <div class="jasper_info_text">@Strings.SimInformationInfoTextJasper</div>

    }
    <br />
</section>

<script>
    $(function () {
        IoTApp.CellularInformation.init();
    });
</script>