@using GlobalResources
@using DeviceManagement.Infrustructure.Connectivity.Models.TerminalDevice
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Extensions
@model  Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Models.SimInformationViewModel

@{
    var erricsonTermal = (EricssonTerminal)Model.TerminalDevice;
}

<section class="details_grid_general">
    <p class="grid_detail_value"><strong>@Strings.SimStatus </strong> @erricsonTermal.Status</p>
    <p class="grid_detail_value"><strong>@Strings.SimFirstActivationDate </strong> @erricsonTermal.DateOfActivation.ConvertToString("ddMMyyyy", "Unknown")</p>
    <p class="grid_detail_value"><strong>@Strings.ICCID </strong> @erricsonTermal.Iccid.Id</p>
    <p class="grid_detail_value"><strong>@Strings.IMEI </strong> @erricsonTermal.Imei.Id</p>
    <p class="grid_detail_value"><strong>@Strings.IMSI </strong> @erricsonTermal.Imsi.Id</p>
    <p class="grid_detail_value"><strong>@Strings.MSISDN </strong> @erricsonTermal.Msisdn.Id</p>
    <p class="grid_detail_value"><strong>@Strings.CurrentRatePlan </strong>@erricsonTermal.RatePlan </p>
    <p class="grid_detail_value"><strong>@Strings.PriceProfileName </strong> @erricsonTermal.PriceProfileName</p>
    <p class="grid_detail_value"><strong>@Strings.PDPContextProfileName </strong>@erricsonTermal.PdpContextProfileName</p>
    <p class="grid_detail_value"><strong>@Strings.CustomerNumber </strong>@erricsonTermal.AccountId</p>

    <p class="grid_detail_value"><strong>@Strings.PricePlan </strong>@erricsonTermal.PricePlan</p>
    <p class="grid_detail_value"><strong>@Strings.AggregatedSimUsage </strong>@erricsonTermal.AggregatedSimUsage</p>
    <p class="grid_detail_value"><strong>@Strings.CurrentLimits </strong>@erricsonTermal.CurrentLimits</p>
    <p class="grid_detail_value"><strong>@Strings.ResetDeviceConnection </strong></p>
    <p class="grid_detail_value"><a id="resetDeviceConnection">@Strings.ResetDeviceConnectionAction </a></p>
</section>
<div class="ericsson_info_text details_grid_margin">@Strings.SimInformationInfoTextEricsson</div>

<script>
$(function() {
    $("#resetDeviceConnection")
        .click(function() {
            IoTApp.DeviceDetails.resetDeviceConnection();
        });
});
</script>