@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@{
    ViewBag.Title = "Add a Device";
}

<header class="header_main">

    <h1 class="header_main__head">@Strings.AddDevice</h1>
    <button class="header_main__button_back" type="button"></button>
    <h2 class="header_main__subhead">@Strings.StepOneHeader</h2>

</header>
<div class="content_outer">

    <div class="content_inner">
        <div id="content">
            @Html.Partial("_AddDeviceSelectType")
        </div>
    </div>
</div>

@*The scripts below runs when the view loads but not for partials.*@
<script type="text/javascript">
    "use strict";

    var addDeviceResources = {
        addDevice: '@Html.JavaScriptString(Strings.AddDevice)',
        stepOneHeader: '@Html.JavaScriptString(Strings.StepOneHeader)',
        redirectToIndexUrl: '@Url.Action("Index", "Device")',
        deviceDetailDeviceId: '@ViewBag.DeviceId'
    }

    $.extend(resources, addDeviceResources);
</script>

<script type="text/javascript" src="~/Scripts/Views/Device/AddDevice.js?ver=@Constants.JSVersion"></script>
