@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@{
    ViewBag.Title = "Index";
}

<noscript>
    <div class="error_noscript">
        <h1 class="error_noscript__header">@Strings.NoscriptHeader</h1>
        <p>@Strings.NoscriptP1</p>
        <p>@Strings.NoscriptP2</p>
    </div>
</noscript>


<div class="content_outer content_outer--background_color content_grid">
    <div class="content_inner content_inner--inherit_max_width_no_margin">

        <div class="search_container_closed search_height--closed_fixed">
            <h2 class="search_container_closed__pane_subhead">@Strings.FindDevicesLabelCollapsed</h2>
        </div>

        <div class="search_container search_height--fixed">
            <h2 class="search_container__search_subhead">@Strings.FindDevices</h2>

            <div class="search_container__search_filter_container">
                <div>
                    <img src="~/Content/img/search.svg" class="search_container__filter_find_filter_label vertical_center"/>
                    <input type="text" class="search_container__filter_find_filter_box" id="findFilterBox" />
                </div>

                <div>
                    <img src="~/Content/img/add.svg" class="search_container__filter_new_filter_label vertical_center"/>
                    <a class="search_container__filter_new_filter_link" id="new_filter" href="#" onclick="IoTApp.DeviceIndex.buildNewFilter()">@Strings.AddNewFilter</a>
                </div>
                <div>
                    <img src="~/Content/img/expanded.svg" class="search_container__filter_recent_filter_label vertical_center"/>
                    <img src="~/Content/img/collapsed.svg" class="search_container__filter_recent_filter_label vertical_center" style="display:none "/>
                    <a class="search_container__filter_recent_filter_link" id="recent_filter" onclick="IoTApp.DeviceIndex.showRecentFilters()">@Strings.ShowRecentFilters</a>
                </div>
                <div id="recentFilterNameList"></div>
            </div>

            <div class="search_container__search_details_container">
                <div>
                    <div>
                        <input type="hidden" id="filterIdBox" />
                        <input class="search_container__filter_name_text" id="filterNameBox" />
                        <a href="#" onclick="IoTApp.DeviceIndex.deleteFilter()"><img class="search_container__filter_delete" src="~/Content/img/delete.svg" /></a>
                        <a href="#" onclick="IoTApp.DeviceIndex.saveFilter()"><img class="search_container__filter_save" src="~/Content/img/save.svg" /></a>
                    </div>
                    <div class="search_container__filter_search_type">
                        <span class="search_container__filter_search_type_label">@Strings.SearchType</span>
                        <select class="search_container__filter_search_type_select" id="searchTypeSelect">
                            <option selected value="FILTERS">@Strings.SearchTypeFilters</option>
                            <option value="ADVANCED">@Strings.SearchTypeAdvanced</option>
                        </select>
                    </div>
                </div>
                <!-- This template is copied for each filter clause -->
                <div id="filter_template" class="search_filter" style="display: none;">

                    <div>

                        <label class="filter_template__filter_label filter_group_top" for="filterFieldREPLACE_ME"><span>@Strings.FilterFieldLabel</span></label>

                        <input type="text" id="filterFieldREPLACE_ME" name="filterFieldREPLACE_ME" class="search_filter__text">

                    </div>

                    <div id="filterOperatorControlREPLACE_ME">

                        <label class="filter_template__filter_label" for="filterOperatorREPLACE_ME"><span>@Strings.FilterOperatorLabel</span></label>

                        <select id="filterOperatorREPLACE_ME" name="filterOperatorREPLACE_ME" class="search_filter__select">
                            <option value="EQ">=</option>
                            <option value="NE">&ne;</option>
                            <option value="LT">&lt;</option>
                            <option value="GT">&gt;</option>
                            <option value="LE">&le;</option>
                            <option value="GE">&ge;</option>
                            <option value="IN">IN</option>
                        </select>

                    </div>

                    <div id="filterValueControlREPLACE_ME">

                        <label class="filter_template__filter_label" for="filterValueREPLACE_ME"><span>@Strings.FilterValueLabel</span></label>

                        <input type="text" id="filterValueREPLACE_ME" name="filterValueREPLACE_ME" class="search_filter__text" />

                    </div>

                    <div id="filterStatusControlREPLACE_ME">

                        <label class="filter_template__filter_label" for="filterStatusREPLACE_ME"><span>@Strings.FilterStatusLabel</span></label>

                        <select id="filterStatusSelectREPLACE_ME" name="filterStatusSelectREPLACE_ME" class="search_filter__select">
                            <option value="Pending">@Strings.FilterStatusPending</option>
                            <option value="Running">@Strings.FilterStatusRunning</option>
                            <option value="Disabled">@Strings.FilterStatusDisabled</option>
                        </select>
                    </div>

                    <div class="filter_template__filter_clause_container">
                    </div>

                </div>
                <!-- End filter clause template -->

                <div class="search_details_container__filter_holder filter_display_group" id="filter_holder">
                </div>

                <div id="filters_container" class="search_details_container__filter_add_clause_container">
                    <a class="search_details_container__filter_add_clause_link filter_display_group" id="addNewClause">@Strings.AddNewClause</a>
                    <a class="search_details_container__filter_add_clause_link filter_display_group" id="clearClauses">@Strings.ClearClauses</a>
                </div>

                <div class="search_details_container__sql_container advanced_clause_display_group" id="sql_container" style="display:none">
                    <textarea id="sqlBox" class="search_details_container__sql_box advanced_clause_display_group" style="display:none">SELECT * FROM Devices</textarea>
                </div>
                
                <div class="search_container__search_details_button_container">

                    <button type="button" onclick="IoTApp.DeviceIndex.reloadGrid()" class="button_base search_details_button_container__search_button">
                        @Strings.FindLabel
                    </button>
                    <button type="button" onclick="IoTApp.DeviceIndex.resetSearch()" class="search_details_button_container__reset_button">
                        @Strings.ResetLabel
                    </button>
                </div>
            </div>
        </div>

        <div class="grid_container height_fixed">

            @*Datatables plugin for jQuery. www.datatables.net*@
            <table id="deviceTable" class="order-column">

                <thead>
                    <tr>
                    </tr>
                </thead>

                <tbody></tbody>

            </table>
            <div class="retry_message_container">
            </div>
            <script type="text/html" id="tableHeaderTemplate">
                <div class="device_list_toolbar_title">
                    <span class="device_list_toolbar_filtername" data-bind="text: name"></span> (<span class="device_list_toolbar_number" data-bind="text: filteredInfo"></span>)
                </div>
                <div class="device_list_toolbar_buttons">
                    <img id="btnOpen" src="/Content/img/open_query.svg" class="device_list_toolbar_button" data-bind="popover: { template: '#openfilterContent' }"/>
                    <img id="btnFilter" src="/Content/img/filters.svg" class="device_list_toolbar_button" data-bind="click: showPanel" />
                </div>
            </script>
            <div id="openfilterContent" class="display_none">
                <div>OPEN SAVED FILTER</div>
                <input class="search_container__query_find_query_box" id="findQueryBox" />
                <div class="filter_panel_filters" data-bind="foreach: filters">
                    <a href="#" class="filter_panel_filter_link" data-bind="text: name, click: $parent.loadFilter"></a>
                </div>
            </div>
            <div class="filter_panel_container">
                <div class="filter_panel">
                    <img src="~/Content/img/column_delete.svg" class="filter_panel_close_img" data-bind="click: hidePanel" />
                    <span class="filter_panel_title">Filter Editor</span>
                    <div class="filter_panel_content">
                        <div>
                            <div class="filter_panel_type_select" data-toggle="dropdown">
                                <span data-bind="visible: !isAdvanced()">Clause</span>
                                <span data-bind="visible: isAdvanced()">Advanced</span>
                                <img src="~/Content/img/expanded.svg" class="filter_panel_type_select_img" />
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-bind="click: function() { isAdvanced(false) }">Clause</a></li>
                                <li><a href="#" data-bind="click: function() { isAdvanced(true) }">Advanced</a></li>
                            </ul>
     
                            <label class="pull-right" data-bind="visible : !isAdvanced()"><input type="checkbox" id="chkSaveDefault" /> @Strings.SaveAsDefault</label>
                        </div>
                        
                        <div class="filter_panel_clauses" data-bind="foreach: clauses, visible : !isAdvanced()">
                            <div class="filter_panel_clause" data-bind="attr: { title: displayName }, click: toggle, css: { checked: checked }">
                                <div class="filter_panel_clause_text" data-bind="text: shortDisplayName"></div>
                            </div>
                        </div>
                        <div data-bind="visible: isAdvanced()">
                            <textarea id="" class="filter_panel_advanced_textarea">SELECT * FROM Devices</textarea>
                            <div class="filter_panel_advanced_example">
                                <p>Example 1: deviceId ='SampleDevice001_009'</p>
                                <p>Example 2: tags.Location = 'Redmond' and tags.DeviceType in ['Type1','Type2'] and (properties.reported.version = 'v1.2' or properties.reported.version = 'v1.3')</p>
                            </div>
                        </div>
                        <div data-bind="visible: !isAdvanced()">
                            <div class="filter_panel_subtitle">Add a Clause</div>
                            <div class="filter_panel_clause_edit">
                            <div class="filter_panel_clause_edit_row">
                                <div class="filter_panel_clause_edit_row_column">
                                    <label class="filter_panel_clause_edit_label filter_group_top" for="filterFieldREPLACE_ME"><span>@Strings.FilterFieldLabel</span></label>
                                </div>
                                <div class="filter_panel_clause_edit_row_operator">
                                    <label class="filter_panel_clause_edit_label" for="filterOperatorREPLACE_ME"><span>@Strings.FilterOperatorLabel</span></label>
                                </div>
                                <div class="filter_panel_clause_edit_row_value">
                                    <label class="filter_panel_clause_edit_label" for="filterValueREPLACE_ME"><span>@Strings.FilterValueLabel</span></label>
                                </div>
                                <div class="filter_panel_clause_edit_row_add"></div>
                            </div>
                            <div class="filter_panel_clause_edit_row">
                                <div class="filter_panel_clause_edit_row_column">
                                    <input id="txtField" class="filter_panel_text" data-bind="textInput: currentClause().field">
                                </div>
                                <div class="filter_panel_clause_edit_row_operator">
                                    <select class="filter_panel_select" data-bind="value: currentClause().operator">
                                        <option value="EQ">=</option>
                                        <option value="NE">&ne;</option>
                                        <option value="LT">&lt;</option>
                                        <option value="GT">&gt;</option>
                                        <option value="LE">&le;</option>
                                        <option value="GE">&ge;</option>
                                        <option value="IN">IN</option>
                                    </select>
                                </div>
                                <div class="filter_panel_clause_edit_row_value">
                                    <input type="text" class="filter_panel_text" data-bind="textInput: currentClause().value" />
                                </div>
                                <div class="filter_panel_clause_edit_row_add">
                                    <button type="button" class="button_base" data-bind="click: addClause, enable: currentClause().field() && currentClause().value()">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="filter_panel_buttons">
                            <button type="button" onclick="IoTApp.DeviceIndex.reloadGrid()" class="button_base pull-right">
                                @Strings.FindLabel
                            </button>
                            <button type="button" onclick="IoTApp.DeviceIndex.resetSearch()" class="button_base filter_panel_button_gray pull-right">
                                @Strings.ResetLabel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="details_grid_closed height_fixed button_details_grid">
            <h2 class="details_grid_closed__grid_subhead">@Strings.DeviceDetailsPaneLabel</h2>
        </div>
        <div class="details_grid height_fixed">

            <h2 class="details_grid__grid_subhead button_details_grid">@Strings.DeviceDetailsPaneLabel</h2>

            <div id="details_grid_container">
                <div class="details_grid__no_selection">
                    @Strings.NoDeviceSelectedLabel
                </div>
            </div>

            <div id="loadingElement" class="loader_container loader_container_details">
                <div class="loader_container__loader loader_container__loader--large_top_margin"></div>
            </div>

        </div>

    </div>

</div>


<script>
    "use strict";

    var resources = {
        retry: '@Html.JavaScriptString(Strings.Retry)',
        serviceUnavailable: '@Html.JavaScriptString(Strings.ServiceUnavailable)',
        deactivateDevice: '@Html.JavaScriptString(Strings.DisableDevice)',
        activateDevice: '@Html.JavaScriptString(Strings.EnableDevice)',
        unableToRetrieveDeviceFromService: '@Html.JavaScriptString(Strings.UnableToRetrieveDeviceFromService)',
        errorWhileRetrievingKeys: '@Html.JavaScriptString(Strings.ErrorWhileRetrievingKeys)',
        failedToUpdateDeviceStatus: '@Html.JavaScriptString(Strings.FailedToUpdateDeviceStatus)',
        disabled: '@Html.JavaScriptString(Strings.Disabled)',
        pending: '@Html.JavaScriptString(Strings.Pending)',
        running: '@Html.JavaScriptString(Strings.Running)',
        failedToRetrieveDevices: '@Html.JavaScriptString(Strings.FailedToRetrieveDevices)',
        noDeviceSelected: '@Html.JavaScriptString(Strings.NoDeviceSelectedLabel)',
        deviceList: '@Html.JavaScriptString(Strings.DeviceList)',
        nextPage: '@Html.JavaScriptString(Strings.Next)',
        previousPage: '@Html.JavaScriptString(Strings.Previous)',
        infoFiltered: '@Html.JavaScriptString(Strings.FilterInfo)',
        editColumns: '@Html.JavaScriptString(Strings.EditColumns)',
        editColumnsPanelLabel: '@Html.JavaScriptString(Strings.EditColumnsPanelLabel)',
        scheduleJob: '@Html.JavaScriptString(Strings.ScheduleJob)',
        deviceDetailsPanelLabel: '@Html.JavaScriptString(Strings.DeviceDetailsPaneLabel)',
        scheduleJobPanelLabel: '@Html.JavaScriptString(Strings.ScheduleJobPanelLabel)',
        unableToRetrieveColumnsFromService: '@Html.JavaScriptString(Strings.UnableToRetrieveColumnsFromService)',
        failedToUpdateColumns: '@Html.JavaScriptString(Strings.FailedToUpdateColumns)',
        failedToRetrieveColumns: '@Html.JavaScriptString(Strings.FailedToRetrieveColumns)',
        failedToGetFilter: '@Html.JavaScriptString(Strings.FailedToGetFilter)',
        failedToSaveFilter: '@Html.JavaScriptString(Strings.FailedToSaveFilter)',
        failedToGetRecentFilter: '@Html.JavaScriptString(Strings.FailedToGetRecentFilters)',
        failedToDeleteFilter: '@Html.JavaScriptString(Strings.FailedToDeleteFilter)',
        failedToGetDefaultFilters: '@Html.JavaScriptString(Strings.FailedToGetDefaultFilters)',
        filterIsEmpty: '@Html.JavaScriptString(Strings.FilterIsEmpty)',
        incorrectFilterName: '@Html.JavaScriptString(Strings.IncorrectFilterName)',
        failedToScheduleJob: '@Html.JavaScriptString(Strings.ScheduleJobError)',
        filterId: '@Html.JavaScriptString((string)ViewBag.FilterId)',
        allDevices: '@Html.JavaScriptString(Strings.AllDevices)'
    };
</script>

<script src="~/Scripts/jquery-datatables-api-extensions.js"></script>
<script src="~/Scripts/Views/Device/DeviceIndex.js"></script>
<script src="~/Scripts/Views/Device/DeviceDetails.js"></script>
<script src="~/Scripts/Views/Device/DeviceListColumns.js"></script>
<script src="~/Scripts/Views/Device/DeviceFilter.js"></script>
