@using GlobalResources
@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@{
    ViewBag.Title = "Index";
}

<noscript>
    <div class="error_noscript">
        <h1 class="error_noscript__header">@Strings.NoscriptHeader</h1>
        <p>@Strings.NoscriptP1</p>
        <p>@Strings.NoscriptP2</p>
    </div>
</noscript>


<div class="content_outer content_outer--background_color content_grid">
    <div class="content_inner content_inner--inherit_max_width_no_margin">

        <div class="search_container_closed search_height--closed_fixed">
            <h2 class="search_container_closed__pane_subhead">@Strings.FindDevicesLabelCollapsed</h2>
        </div>

        <div class="search_container search_height--fixed">
            <h2 class="search_container__search_subhead">@Strings.FindDevices</h2>
            <div class="search_container__search_details_container">
                <label for="searchQuery" class="grid_subhead_detail_label">@Strings.SearchDevices</label>
                <input type="text" name="searchQuery" id="searchQuery" class="search_details_container__text" />

                <h2 class="grid_subhead_detail_label">@Strings.FilterDevices</h2>
                <a class="search_details_container__filter_add_clause_link">@Strings.AddNewClause</a>

                <!-- This template is copied for each filter clause -->
                <div id="filter_template" class="search_filter" style="display: none;">

                    <div>

                        <label class="filter_template__filter_label filter_group_top" for="filterFieldREPLACE_ME"><span>@Strings.FilterFieldLabel</span></label>

                        <select id="filterFieldREPLACE_ME" name="filterFieldREPLACE_ME" class="search_filter__select">
                            <option value="Status">@Strings.FilterOptionStatus</option>
                            <option value="DeviceId" selected>@Strings.FilterOptionDeviceId</option>
                            <option value="Manufacturer">@Strings.FilterOptionManufacturer</option>
                            <option value="ModelNumber">@Strings.FilterOptionModelNumber</option>
                            <option value="SerialNumber">@Strings.FilterOptionSerialNumber</option>
                            <option value="FirmwareVersion">@Strings.FilterOptionFirmwareVersion</option>
                            <option value="Platform">@Strings.FilterOptionPlatform</option>
                            <option value="Processor">@Strings.FilterOptionProcessor</option>
                            <option value="InstalledRam">@Strings.FilterOptionInstalledRam</option>
                        </select>

                    </div>

                    <div id="filterOperatorControlREPLACE_ME">

                        <label class="filter_template__filter_label" for="filterOperatorREPLACE_ME"><span>@Strings.FilterOperatorLabel</span></label>

                        <select id="filterOperatorREPLACE_ME" name="filterOperatorREPLACE_ME" class="search_filter__select">
                            <option value="ExactMatchCaseInsensitive">@Strings.FilterOperatorExactInsensitive</option>
                            <option value="StartsWithCaseInsensitive">@Strings.FilterOperatorStartsWithInsensitive</option>
                            <option value="ContainsCaseInsensitive" selected>@Strings.FilterOperatorContainsInsensitive</option>
                            <option value="ExactMatchCaseSensitive">@Strings.FilterOperatorExactSensitive</option>
                            <option value="StartsWithCaseSensitive">@Strings.FilterOperatorStartsWithSensitive</option>
                            <option value="ContainsCaseSensitive">@Strings.FilterOperatorContainsSensitive</option>
                        </select>

                    </div>

                    <div id="filterValueControlREPLACE_ME">

                        <label class="filter_template__filter_label" for="filterValueREPLACE_ME"><span>@Strings.FilterValueLabel</span></label>

                        <input type="text" id="filterValueREPLACE_ME" name="filterValueREPLACE_ME" class="search_filter__text" />

                    </div>

                    <div id="filterStatusControlREPLACE_ME">

                        <label class="filter_template__filter_label" for="filterStatusREPLACE_ME"><span>@Strings.FilterStatusLabel</span></label>

                        <select id="filterStatusSelectREPLACE_ME" name="filterStatusSelectREPLACE_ME" class="search_filter__select">
                            <option value="Pending">@Strings.FilterStatusPending</option>
                            <option value="Running">@Strings.FilterStatusRunning</option>
                            <option value="Disabled">@Strings.FilterStatusDisabled</option>
                        </select>
                    </div>

                    <div class="filter_template__filter_clause_container">
                    </div>

                </div>
                <!-- End filter clause template -->

                <div class="search_details_container__filter_holder" id="filter_holder">
                </div>

                <div class="search_container__search_details_button_container">
                    <button type="button" onclick="IoTApp.DeviceIndex.reloadGrid()" class="button_base search_details_button_container__search_button">
                        @Strings.FindLabel
                    </button>
                    <button type="button" onclick="IoTApp.DeviceIndex.resetSearch()" class="search_details_button_container__reset_button">
                        @Strings.ResetLabel
                    </button>
                </div>
            </div>
        </div>

        <div class="grid_container height_fixed">

            @*Datatables plugin for jQuery. www.datatables.net*@
            <table id="deviceTable" class="order-column">

                <thead>
                    <tr>
                        <th>@Strings.StatusHeader</th>
                        <th>@Strings.DeviceIdHeader</th>
                        <th>@Strings.ManufactureHeader</th>
                        <th>@Strings.ModelNumberHeader</th>
                        <th>@Strings.SerialNumberHeader</th>
                        <th>@Strings.FirmwareHeader</th>
                        <th>@Strings.PlatformHeader</th>
                        <th>@Strings.ProcessorHeader</th>
                        <th>@Strings.InstalledRamHeader</th>
                    </tr>
                </thead>

                <tbody></tbody>

            </table>
        </div>

        <div class="details_grid_closed height_fixed button_details_grid">
            <h2 class="details_grid_closed__grid_subhead">@Strings.DeviceDetailsPaneLabel</h2>
        </div>
        <div class="details_grid height_fixed">

            <h2 class="details_grid__grid_subhead button_details_grid">@Strings.DeviceDetailsPaneLabel</h2>

            <div id="details_grid_container">
                <div class="details_grid__no_selection">
                    @Strings.NoDeviceSelectedLabel
                </div>
            </div>

            <div id="loadingElement" class="loader_container loader_container_details">
                <div class="loader_container__loader loader_container__loader--large_top_margin"></div>
            </div>

        </div>

    </div>

</div>


<script>
    "use strict";

    var resources = {
        retry: '@Html.JavaScriptString(Strings.Retry)',
        serviceUnavailable: '@Html.JavaScriptString(Strings.ServiceUnavailable)',
        deactivateDevice: '@Html.JavaScriptString(Strings.DisableDevice)',
        activateDevice: '@Html.JavaScriptString(Strings.EnableDevice)',
        unableToRetrieveDeviceFromService: '@Html.JavaScriptString(Strings.UnableToRetrieveDeviceFromService)',
        errorWhileRetrievingKeys: '@Html.JavaScriptString(Strings.ErrorWhileRetrievingKeys)',
        failedToUpdateDeviceStatus: '@Html.JavaScriptString(Strings.FailedToUpdateDeviceStatus)',
        disabled: '@Html.JavaScriptString(Strings.Disabled)',
        pending: '@Html.JavaScriptString(Strings.Pending)',
        running: '@Html.JavaScriptString(Strings.Running)',
        failedToRetrieveDevices: '@Html.JavaScriptString(Strings.FailedToRetrieveDevices)',
        noDeviceSelected: '@Html.JavaScriptString(Strings.NoDeviceSelectedLabel)',
        deviceList: '@Html.JavaScriptString(Strings.DeviceList)',
        nextPage: '@Html.JavaScriptString(Strings.Next)',
        previousPage: '@Html.JavaScriptString(Strings.Previous)',
        infoFiltered: '@Html.JavaScriptString(Strings.FilterInfo)'
    };
</script>

<script src="~/Scripts/jquery-datatables-api-extensions.js"></script>
<script src="~/Scripts/Views/Device/DeviceIndex.js"></script>
<script src="~/Scripts/Views/Device/DeviceDetails.js"></script>