@using Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Helpers
@using GlobalResources
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon" />
    <title>@Strings.IoTDevicePortalSignIn</title>
    @Styles.Render("~/Content/css")

</head>
<body>

    <header class="header_page">
        <h1 class="header_page__head">@Strings.MicrosoftAzureIoTSuite</h1>
        <a target="_blank" href="@Strings.InfoIconLink">
            <img class="header_page__infoLinkImg" src="~/Content/img/icon_info_white.svg" alt="@Strings.Information" id="infoLinkImg" />
        </a>
        <h2 class="header_page__solution_name">@HeaderHelper.GetHeaderTitle()</h2>
    </header>

    <section class="sign_in_page">

        <main>

            <noscript>
                <div class="error_noscript">
                    <h1 class="error_noscript__header">@Strings.NoscriptHeader</h1>
                    <p>@Strings.NoscriptP1</p>
                    <p>@Strings.NoscriptP2</p>
                </div>
            </noscript>

            <div class="content_outer">
                <div class="content_inner content_inner_with_messages">

                    <p class="content_inner_with_messages__mesage_text">
                        @Strings.YouMustBeSignedIn
                    </p>

                    <p class="content_inner_with_messages__mesage_text">
                        @Strings.YourSessionMayHaveExpired
                    </p>

                </div>

                @Html.ActionLink(@Strings.SignIn, "Index", "Dashboard", null, new { @class = "button_base button" })

            </div>


        </main>
    </section>

</body>
</html>
