@using System.Web.Mvc.Html
@using GlobalResources
@model Microsoft.Azure.Devices.Applications.RemoteMonitoring.DeviceAdmin.Web.Models.UpdateActionModel

<header class="header_grid header_grid_general">
    <h3 class="grid_subheadhead_detail">@Strings.ActionIDProperties</h3>
</header>
    
<section class="action_properties_id"> 
    <h4 class="grid_subhead_detail_label">@Strings.AvailableActions</h4>
    @Html.DropDownListFor(m => Model.ActionId, Model.ActionSelectList, new { @class = "action_properties_id__select" })
    @Html.ValidationMessageFor(model => model.ActionId)
    @Html.AntiForgeryToken()
    <button type="submit" id="updateAction_button" class="button_base action_properties_id__update_action_id button_execute">@Strings.Update</button>
</section>

