@using GlobalResources
@helper TextCopy(string idPrefix, string classname, string content, string class_styles_modifier = "", string button_style_modifier = "")
{  
    var uniqueId = string.Format("{0}_{1}", idPrefix, Guid.NewGuid());
    
    <div class="text_copy_container @class_styles_modifier">
        <input class="input_text--readonly text_copy_container__input @classname" data-val="true" id="@uniqueId" readonly="readonly" type="text" value="@content">
        <button class="button_base button_copy @button_style_modifier" data-id="@uniqueId">
            @Strings.Copy
        </button>
    </div>
}

@helper ErrorLabel(string content)
{
    <span class="field-validation-error">
        <span>@content</span>
    </span>
}


