@using GlobalResources
@helper TextCopy(string idPrefix, string classname, string content)
{  
    var uniqueId = string.Format("{0}_{1}", idPrefix, Guid.NewGuid());
    
    <div id="textCopyDiv" class="text_copy_container">
        <input class="input_credentials_value @classname" data-val="true" id="@uniqueId" readonly="readonly" type="text" value="@content">
        <button class="button_copy" data-id="@uniqueId">
            @Strings.Copy
        </button>
    </div>
}

@helper ErrorLabel(string content)
{
    <span class="field-validation-error">
        <span>@content</span>
    </span>
}


